body {
    font-family: 'Cairo', sans-serif;
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.container {
    display: flex;
}

main {
    width: 100%;
    padding: 20px;
}

.sidebar {
    direction: rtl;
    background: #1d2634;
    color: rgb(255, 255, 255);
    height: 100vh;
    width: 200px;
    transition: all 0.5s;
    top: 0;
    left: -1;
    /* position: fixed; */
    overflow-y: auto;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(49, 86, 221, 0.5);
}

.top_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    padding: 20px 15px;
}

.logo {
    font-size: 25px;
}

.bars {
    display: flex;
    font-size: 25px;
    justify-content: space-between;
}

.link {
    display: flex;
    color: #fff;
    padding: 13px 0px;
    gap: 7px;
    transition: all 0.5s;
    font-size: 18px
}

.link:hover {
    background: rgb(187, 225, 249);
    color: #272356;
    transition: all 0.5s;
    width: 90%;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.active {
    background: "#607D8B";
    color: rgb(255, 255, 255);
    width: 90%;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}

.icon,
.link_text {
    font-size: 15px;
    margin-right: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas: 'sidebar header header header' 'sidebar main main main';
    height: 100vh;
}


/* Header  */

.header {
    grid-area: header;
    height: 60px;
    display: flex;
    width: 120%;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.menu-icon {
    display: none;
}

.main-container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
}

.main-title {
    display: flex;
    justify-content: space-between;
}